.projects {
  max-width: 1300px;
  margin: var(--spacing-xl) auto;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.textBox .heading {
  font-weight: bold;
  color: var(--tertiary-color);
}

.textBox .subHeading {
  width: 60%;
  color: var(--gray-color);
  text-align: center;
  font-size: calc(var(--h4-size) * 0.7);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-md) 0;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}

@media only screen and (min-width: 768px) {
  .cards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-md);
  }
}

@media only screen and (min-width: 1275px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
