.separator {
  display: none;
}

.separator .circle {
  color: var(--tertiary-color);
  -webkit-box-shadow: 0px 0px 107px 6px rgba(20, 255, 235, 1);
  -moz-box-shadow: 0px 0px 107px 6px rgba(20, 255, 235, 1);
  box-shadow: 0px 0px 107px 6px rgba(20, 255, 235, 1);
}

.separator .stick {
  width: 2px;
  height: 100%;
  background-color: var(--tertiary-color);
  border-radius: var(--small-radius);
  -webkit-box-shadow: 0px 0px 107px 6px rgba(20, 255, 235, 1);
  -moz-box-shadow: 0px 0px 107px 6px rgba(20, 255, 235, 1);
  box-shadow: 0px 0px 107px 6px rgba(20, 255, 235, 1);
}

@media only screen and (min-width: 768px) {
  .separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
