.card {
  width: 300px;
  position: relative;
  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.img {
  width: 300px;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.skills ul li {
  margin: var(--spacing-xsm);
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0 var(--spacing-xsm);
  font-weight: bold;
  border-radius: var(--mini-radius);
}

.textBox {
  padding: var(--spacing-xsm) var(--spacing-sm);
  /*line-height: 30px;*/
  box-sizing: border-box;
}

.textBox p {
  font-size: calc(var(--h5-size) * 0.7);
  text-align: center;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-decoration: none;
  padding: var(--spacing-xsm) var(--spacing-lg);
  margin: var(--spacing-xsm) 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: var(--larger-radius);
}

@media only screen and (min-width: 768px) {
  .card {
    width: 400px;
    position: relative;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .img {
    width: 400px;
  }
}
