.navbarTop {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  max-width: 1100px;
  background-color: var(--primary-color);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  color: var(--text-color);
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.navbar ul li a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar ul li a:hover {
  color: var(--hover-default);
  border-bottom: solid 1px var(--ternary-color);
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 var(--spacing-lg);
}

.navContainer .navbarButton {
  padding: var(--spacing-xsm) var(--spacing-md);
  border-radius: var(--larger-radius);
  font-size: var(--h6-size);
  font-weight: bold;
  background-color: transparent;
  color: var(--text-color);
  text-decoration: none;
  border: 2px solid var(--tertiary-color);
  position: relative;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.navContainer .navbarButton:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  background-color: var(--tertiary-color);
  transition: transform 0.5s ease;
}

.navbarButton:hover {
  color: var(--primary-color);
}

.navbarButton:hover:after {
  transform: translateX(0);
}

.navbar ul {
  display: none;
}

.navContainer {
  display: none;
}

.hamburger {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger .bar {
  margin: 3px;
  height: 4px;
  width: 36px;
  border-radius: var(--small-radius);
  background-color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbar ul {
    display: flex;
  }

  .navContainer {
    display: flex;
  }
}

.animateBar1 {
  animation: flipBar1 1s;
  animation-fill-mode: forwards;
}

.animateBar2 {
  animation: fadeBar2 1s;
  animation-fill-mode: forwards;
}

.animateBar3 {
  animation: flipBar3 1s;
  animation-fill-mode: forwards;
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }

  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
