.experience {
  margin: 0 auto;
  max-width: 1100px;
  color: var(--text-color);
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.textBox .expHeading {
  font-weight: bold;
  color: var(--tertiary-color);
}

.textBox .expSubHeading {
  width: 85%;
  color: var(--gray-color);
  text-align: center;
  font-size: calc(var(--h4-size) * 0.7);
}

.expBox .itemBox {
  display: flex;
  gap: var(--spacing-lg);
  justify-content: center;
  margin: var(--spacing-md) 0;
}

.expBox .itemBox .item {
  border: 2px solid var(--text-color);
  background-color: var(--secondary-color);
  width: 650px;
  padding: var(--spacing-lg);
  border-radius: var(--small-radius);
}

@media only screen and (min-width: 768px) {
  .textBox .expSubHeading {
    width: 55%;
  }
}
