.footer {
  max-width: 1100px;
  margin: var(--spacing-xl) auto var(--spacing-sm);
  text-align: center;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  margin: 0 var(--spacing-sm);
}

.icons ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: var(--spacing-sm) auto;
}

.icons ul li a {
  color: var(--text-color);
  margin: 0 var(--spacing-md);
}

.icons ul li a .icon {
  font-size: var(--spacing-md);
}

.copyright {
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .footer {
    margin: var(--spacing-2xl) auto var(--spacing-sm);
  }
}
